<template>
  <div class="card-carousel">
    <div class="card-carousel__images">
      <img src="@/assets/images/decor1.jpg" alt="" />
    </div>
    <div class="card-carousel__panel">
      <a class="card-carousel__btn-prev"><BIconArrowLeft /></a>
      <div class="card-carousel__btn-group">
        <a href="" class="card-carousel__btn-circle"></a>
        <a href="" class="card-carousel__btn-circle"></a>
        <a href="" class="card-carousel__btn-circle"></a>
      </div>
      <a class="card-carousel__btn-next"><BIconArrowRight /></a>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
