<template>
  <div class="card">
    <header>
      <slot name="header"> default header content !! </slot>
    </header>
    <section>
      cardProps.user >> {{ cardProps.user }}
      <slot> default card content !! </slot>
      <ul class="">
        <li>test 1</li>
        <li>test 2</li>
        <li>test 3</li>
        <li>test 4</li>
        <li>test 5</li>
        <li>test 6</li>
        <li>test 7</li>
        <li>test 8</li>
      </ul>
    </section>
    <footer>
      <slot name="footer"> default footer content !! </slot>
      <h4>test css a delete</h4>
    </footer>
  </div>
</template>
<script>
export default {
  props: ['cardProps'],
}
</script>
<style lang="scss">
@import '@/assets/styles/core/';
$color-card: #eee;
$color-card-header: $color-gray-meduim;
$color-card-footer: red;
.card {
  background-color: $color-card;
  header {
    background-color: $color-card-header;
  }
  footer {
    background-color: $color-card-footer;
  }

  ul {
    li:nth-child(3n + 1) {
      background-color: green;
    }
    li:first-of-type {
      // background-color: red;
    }
    li:last-of-type {
      // background-color: wheat;
    }
  }
}
</style>
