<template>
  <div class="counter d-flex">
    <button class="btn btn-primary counter__more" @click="increment">+</button>
    <input
      class="counter__value"
      type="text"
      name=""
      id=""
      v-model="counterValue"
    />
    <button class="btn btn-primary counter__less" @click="btnDecrement">
      -
    </button>
  </div>
</template>

<script>
export default {
  name: 'Counter',
  data() {
    return {
      counterValue: 0,
    }
  },
  props: {
    step: {
      type: Number,
      default: 1,
    },
  },
  methods: {
    increment() {
      this.counterValue += this.step
    },
    btnDecrement() {
      this.counterValue -= this.step
    },
  },
}
</script>

<style></style>
