<template>
  <div class="nav-main">
    <NuxtLink to="/"> home </NuxtLink>
    <NuxtLink to="/about"> about </NuxtLink>
    <NuxtLink to="/contactez-nous"> contact </NuxtLink>
    <NuxtLink to="/test-componants"> test-componants </NuxtLink>
    <a href=""> {{ allTodo.length }}</a>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      allTodo: 'todos/allTodo',
    }),
  },
}
</script>
<style></style>
