.card-carousel {
    background-color: #eee;
    border: border 1px #000;
    width: 100%;
    //.card-carousel__images
    &__images {
        background-color: red;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__panel {
        background-color: yellow;
        padding: $gutter-half;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            cursor: pointer;
        }
    }
    &__btn-prev {}
    &__btn-group {
        display: flex;
    }
    &__btn-circle {
        background-color: orange;
        border-radius: 50%;
        width: $gutter-half;
        height: $gutter-half;
        display: block;
        margin: auto $gutter-half;
    }
    &__btn-next {}
}