.nav-main {
    padding: $gutter-half;
    a {
        color: black;
        position: relative;
        padding: $gutter-half;
        &:hover {}
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            width: 2px;
            height: 20px;
            top: 33%;
            right: 0px;
            background-color: black;
        }
    }
}