<template>
  <div>
    <Card1 :cardProps="{ user }">
      <template #header> </template>
      <!--  custom <strong> header</strong>   -->
      <Flash1 message="un message flash custom .. " />
      <p>text supplementaire</p>
      <template #footer></template>
      <!--   custom <strong> footer</strong>   -->
    </Card1>
    <Counter />
    <Test />
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        name: 'joe',
        age: 35,
        profession: 'devlopper',
      },
    }
  },
}
</script>
